.container {
	width: 80%;
	padding: auto;
}

header {
	width: 100%;
	text-align:center;
}

nav { 
   width: auto;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: auto;
    width: 100%;
    font-size: 1em;
    font-family:'Helvetica', 'Sans-Serif';
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}
