.container {
	width: 80%;
	padding-left: 3cm;
	padding-right: 3cm;
}

header {
	width: 100%;
	text-align: center;
}

nav { 
   width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: auto;
margin-bottom: 1cm;
    width: 100%;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
	float: left;
	padding-left: 10%;
	padding-right: 10%;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1em;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 1px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


img1 {
	float:left;
}



