div.container {
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', 'Sans Serif';
}

header {
	width: 100%;
	text-align:center;
	margin: 1cm auto;
}

nav { 
   width: 100%;
   margin: 0 auto;
   font-family: 'Open Sans', 'Sans Serif';
}

img {
    max-width: 100%;
    min-width: 50%
    height: auto;
}

body {
    width: 100%
    margin: 0 auto;
    margin-bottom: 2cm;
    width: auto;
    font-size: 1.2em;
    font-family: 'Open Sans', 'Sans Serif';
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    overflow: hidden;
    background-color: #333;
}

li {
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	font-family:'Open Sans', 'Sans-Serif';
	font-size: 1em;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

h1 {
	font-family: "Open Sans";
	font-size: 2.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

a:link {
    color: grey;
}

a:visited {
    color: grey;
}

a:hover {
	color: silver;
}

p.big {
    line-height: 200%;
    font-size: 1.1em;
}

