<footer class="site-footer">
 
   <div class="site-links">
   <div align="left">
  Philosophy of Memory Organization
</div> 
    <div class="site-contact">
      <ul>
        {% if site.email %}
        <li><a href="mailto:phomo@gmx.com">Contact</a></li>
        {% endif %}

        {% if site.github_username %}
        <li><a target="_blank" rel="external" href="Link 1">Link 1</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="external" href="Link 2">Link 2</a></li>
        {% endif %}
      </ul>
    </div>

</footer>
<!-- site-footer -->
