<footer class="site-footer">
<ul>
	        		<li><a href="mailto:rosolemandre@gmail.com">email</a></li>
	        		<li><a href="https://otago.academia.edu/AndreSantAnna">academia.edu</a></li>
				<li><a href="https://www.researchgate.net/profile/Andre_Santanna">researchgate.net</a></li>
				</ul>
</footer>
<!-- site-footer -->

{% if page.syntax %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
{% endif %}

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','{{ site.baseurl }}/assets/js/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
